*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Candara;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

.nav{
    background: #205157;
    height: 70px;
    width: 100%;
}

label.logo{
    color: #ffff;
    font-size: 2.7em;
    line-height: 70px;
    padding: 0 100px;
}

label.logo:hover{
    cursor: pointer;
}


.nav .ul-nav{
    list-style: none;
    float: right;
    margin-right: 30px;
}

.nav .ul-nav li{
    display: inline-block;
    line-height: 80px;
    margin : 0 10px;
    margin-right: 2rem;
}

.nav .ul-nav li a{
    color: #ffff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

.nav .ul-nav li a:hover{
    background-color: #5d7b91;
}

.nav .ul-nav li a:active{
    background: #29abe2;
    border-radius: 5px; 
    color: #fff;
}


/* FOOTER */


footer{
    margin-top: 12rem;
    background: #205157;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding: 10px;
    color: #fff;
    bottom: 0;
    position: relative;
    /* position: absolute; */
    height: 11rem;
}



.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer-container h3{
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p{
    max-width: 500px;
    margin-right: 10px auto;
    line-height: 27px;
    font-size:14px;
}


.socials{
    color: #205157;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
    list-style: none;
    margin: 1rem 0 2rem 0;
 }

.socials li {
    margin: 0 10px;
 }
.socials a {
    text-decoration: none;
    color:#fff;
    cursor: pointer;
 }
.socials a i{
    font-size: 1.2rem;
    cursor: pointer;
 }

.socials a:hover i{
    color:aquamarine;
 }


/* .footer-bottom{
    background: #29718f;
    width: 100%;
    padding: 20px 0;
    text-align: center;
} */


.cards{
    margin-top: 20px;
    width:100%;
    padding: 25px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 600px 850px;
    grid-template-columns: repeat(600px 1fr / 850px 1fr); */
    grid-gap: 30px;
}


.cards .card{
    background: linear-gradient(45deg,#47cebe,#2f80ed);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.number{
    font-size:35px;
    font-weight: 600;
    color: navajowhite;
}

.card-name{
    color: #444;
    font-weight: 600;
}

.icon-box{
    font-size: 45px;
    color: moccasin;
}


.tables{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding: 25px 30px; */
    padding: 10px;
    grid-gap: 30px;
    align-items: self-start;
}

.img-box-small{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    /* padding-right: 23px; */
}

.img-box-small img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* text-align: center; */
}

.latest-orders , .latest-customers{
    background: #fff;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: peru;
}

.btn{
    padding: 5px 10px;
    background: linear-gradient(45deg,#47cebe,#2f80ed);
    color: navajowhite;
    text-align: center;
    text-decoration: none;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead td{
    font-weight: 700;
    color: #444;
}

table tr{
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
td{
    padding: 12px;
}

table tbody tr:last-child{
    border-bottom: none;
}

table tbody tr:hover{
    background: linear-gradient(45deg,#47cebe,#2f80ed);
}

td i {
    color: #444;
    cursor: pointer;
    padding: 0 5.5px;
}


.crt-cus ,.crt-ord{
    background: #fff;
    padding: 10px 15px;
    width: 25%;
    width: 100%;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    transition: 0.5s;
    color: #ffff;
}


.crt-cus a ,.crt-ord a{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }




 
 
 
.product-tables{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 35px;
    grid-gap: 30px;
    align-items: self-start;
}


.latest-products{
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.crt-prod{
    background: #fff;
    padding: 10px 15px;
    width: 25%;
    width: 30%;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    transition: 0.5s;
    color: #ffff;
}

.crt-prod a{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

.cus-cards{
    margin-top: 20px;
    width:100%;
    padding: 25px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.cus-cards .cus-card{
    /* background: linear-gradient(45deg,#47cebe,#2f80ed); */
    background: papayawhip;
    /* border-radius: 10px; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.cus-cards .cus-card1{
    background: papayawhip;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.cus-card1 h1{
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}

.card-content{
    display: grid;
    grid-gap: 10px;
}

.card-content h3{
    
    border-bottom: 1px solid black;
    width: 100%;
}

.card-content .bnx{
    width: 100%;
    padding: 5px 150px;
    color: #ffff;
    background: teal;
    cursor: pointer;

}

.card-content .bnx a{
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}


.crt-ser{
    background: #fff;
    padding: 5px 5px;
    width: 20%;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s;
    background: darkcyan;
    margin-right: 100px;
}


.crt-ser a{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

.button{
    margin: 1.7rem;
}


.img-box-small-cus{
    position: relative;
    /* width: 40px; */
    width: 60%;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-left: 20px;
}

.img-box-small-cus img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CUSTOMER CREATION STYLE STARTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@200&family=Quicksand:wght@600&display=swap');


.reg-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    padding: 20px;
}

.reg-user-details{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 35px;
    border-radius: 5px;
}

.reg-user-details .reg-title{
    font-size: 25px;
    font-weight: 900;
    position: relative;
}

.reg-user-details .reg-title::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left:0;
    bottom: 0;
    background: #71b7e6;
}

.reg-container form .reg-user-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .reg-user-details .input-box{
    margin: 20px 0 12px 0;
    width: 100%;
}


form .reg-user-details .input-box .reg-details{
    font-weight: 900;
    margin-bottom: 5px;
    /* display: block; */
}


.reg-user-details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.reg-user-details .input-box .input{
    height: 29px;
    /* width: 28%; */
    outline: none;
    border-radius: 5px;
    border: 0px solid #ccc;
    padding-left: 0px;
    padding: 0px;
    font-size: 16px;
    display: block;
}

form .reg-submit{
    height: 45px;
    margin:25px 0;
}

form .reg-submit input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: bolder;
}

form .reg-submit input:hover{
    background: linear-gradient(-135deg, #71b7e6,#9b59b6); 
}





/* CUSTOMER CREATION STYLE ENDS */



select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  select:focus,
  select:valid{
    border-color: #9b59b6;
  }



.cus-cards12{
    margin-top: 20px;
    width:100%;
    padding: 25px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.cus-cards12 .cus-card12{
    /* background: linear-gradient(45deg,#47cebe,#2f80ed); */
    /* background: papayawhip; */
    /* border-radius: 10px; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.cus-cards12 .cus-card122{
    /* background: papayawhip; */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.cus-card122 h1{
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}