{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE SALE ORDER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
</head>
<body>
  
      <div class="sale-ord-container">
        <div class="sale-ord-title">CREATE SALE ORDER</div>
        <div class="sale-ord-content">
          <form action="#" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}} 
            <div class="user-details">
              <div class="input-box">
                <span class="details">REF No.</span>
                <input type="text" placeholder="S0001" required>
              </div>
              <div class="input-box">
                <span class="details">Customer</span>
                <input type="text" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <span class="details">Product</span>
                <input type="text" placeholder="Select the Product" required>
              </div>
              <div class="input-box">
                <span class="details">Quantity</span>
                <input type="text" placeholder="Enter Quantity" required>
              </div>
              <div class="input-box">
                <span class="details">Total Price</span>
                <input type="text" placeholder="Enter Price" required>
              </div>
              <div class="input-box">
                <span class="details">Status</span>
                <input type="text" placeholder="Status" required>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="CREATE ORDER">
            </div>
          </form>
        </div>
      </div>
    
    


</body>
</html
