{% extends 'accounts/layout.html'%}


{% block content %}

<section>
    <div class="main">
        <!-- <div class="cus-cards">

            <div class="cus-card">
                <div class="card-content">
                    <h3>Customer:</h3>
                    <button class="bnx"><a href="">Update Customer</a></button>
                    <button class="bnx"><a href="">Delete Customer</a></button>
                </div>
            </div>

            <div class="cus-card">
                <div class="card-content">
                    <h3>Contact Information:</h3>
                    <p>Email:</p>
                    <p>Phone:</p>
                </div>
            </div>

            <div class="cus-card1">
                <div class="card-content">
                    <h3>Total Orders:</h3>
                </div>
            </div>
        </div> -->


        <div class="product-tables">
            <div class="button">
                <button class="crt-ser"><a href="">Search</a></button>
            </div>
            <div class="latest-products">

                <table class="cus-prod-customers">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cus in customers %}
                        <tr>
                            <td class="id-td">
                                <div class="img-box-small-cus">
                                    {% if cus.customer_pic %}
                                    <img src="{{ cus.customer_pic.url }}">
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ cus.customer_name }}</td>
                            <td>{{ cus.customer_email }}</td>
                            <td>{{ cus.customer_mobile }}</td>
                            <td>
                                <!-- <i class="far fa-eye"></i> -->
                                <a href="{% url 'customer' cus.id %}"><i class="far fa-edit"></i></a>
                                <a href="{% url 'delete_customer' cus.id %}"><i class="far fa-trash-alt"></i></a>                              
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            

        </div>
        
    </div>
</section>

{% endblock %}