{% extends 'accounts/layout.html'%}


{% block content %}

<section>
    <div class="main">
        <div class="cus-cards">

            <div class="cus-card">
                <div class="card-content">
                    <h3>Customer:</h3>
                    <button class="bnx"><a href="{% url 'update_customer' customer.id %}">Update Customer</a></button>
                    <button class="bnx"><a href="{% url 'delete_customer' customer.id %}">Delete Customer</a></button>
                    <button class="bnx"><a href="{% url 'create_cu_order' customer.id %}">Place Order</a></button>
                </div>
            </div>

            <div class="cus-card">
                <div class="card-content">
                    <h3>Contact Information:</h3>
                    <p>Name:  <span style="text-align: right;">{{ customer.customer_name }}</span></p>
                    <p>Email:  <span style="text-align: right;">{{ customer.customer_email }}</span></p>
                    <p>Phone: {{ customer.customer_mobile }}</p>
                </div>
            </div>

            <div class="cus-card1">
                <div class="card-content">
                    <!-- <h3>Total Orders:</h3>
                    <h3>Total Orders:</h3> -->
                    <h3>Total Orders:</h3>
                    <h1>{{order_count}}</h3>
                </div>
            </div>
        </div>


        <div class="cus-prod-tables">
            <div class="button">
                <button class="crt-ser"><a href="">Search</a></button>
            </div>
            <div class="latest-cus-prod">

                <table class="cus-prod-customers">
                    <thead>
                        <tr>
                            <th>REF No.</th>
                            <th>Customer</th>
                            <!-- <th>Date Ordered</th> -->
                            <th>Product</th>
                            <th>Product Unit Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in orders %}
                        <tr>
                             <td>{{ ord.sale_order_referencenumber  }}</td>
                             <td>{{ ord.sale_order_customer }}</td>
                             <!-- <td>{{ ord.sale_order_date }}</td> -->
                             <td>{{ ord.sale_order_product  }}</td>
                             <td>{{ ord.sale_order_unit_price  }}</td>
                             <td>{{ ord.sale_order_quantity }}</td>
                             <td>{{ ord.sale_order_total_price  }}</td>
                             <td>{{ ord.status  }}</td>
                            <td>
                                <!-- <i class="far fa-eye"></i> -->
                                <a href="{% url 'update_order' ord.id %}"><i class="far fa-edit"></i></a>
                                <a href="{% url 'delete_order' ord.id %}"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            

        </div>
        
    </div>
</section>

{% endblock %}