{% extends 'accounts/layout.html'%}


{% block content %}

<section>
    <div class="main">
        <div class="cards">

            <div class="card">
                <div class="card-content">
                    <div class="number">{{total_customers}}</div>
                    <div class="card-name">Customers</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-users"></i>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="number">{{total_orders}}</div>
                    <div class="card-name">Orders</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">{{invoiced}}</div>
                    <div class="card-name">Invoiced</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>

        </div>


        <div class="tables">
            <div class="latest-customers">
                <div class="button">
                    <button class="crt-cus"><a href="{% url 'create_customer' %}">CREATE CUSTOMER</a></button>
                </div>
                <div class="heading">
                    <h2>Customers</h2>
                    <a href="{% url 'customers' %}" class="btn">View All</a>
                </div>
                <table class="customers">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cus in customers %}
                        <tr>
                            <td>
                                <div class="img-box-small">
                                    {% if cus.customer_pic %}
                                    <img src="{{ cus.customer_pic.url }}">
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ cus.customer_name }}</td>
                            <td>{{ cus.customer_email }}</td>
                            <td>{{ cus.customer_mobile }}</td>
                            <td>
                                <!-- <i class="far fa-eye"></i> -->
                                <a href="{% url 'customer' cus.id %}"><i class="far fa-edit"></i></a>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="latest-orders">
                <div class="button">
                    <button class="crt-ord"><a href="{% url 'create_order' %}">CREATE ORDER</a></button>
                </div>
                <div class="heading">
                    <h2>Orders</h2>
                    <a href="{% url 'orders' %}"class="btn">View All</a>
                </div>

                <table class="orders">
                    <thead>
                        <tr>
                            <th>REF No.</th>
                            <th>Customer</th>
                            <!-- <th>Date Ordered</th> -->
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in orders %}
                        <tr>
                             <td>{{ ord.sale_order_referencenumber  }}</td>
                             <td>{{ ord.sale_order_customer }}</td>
                             <!-- <td>{{ ord.sale_order_date }}</td> -->
                             <td>{{ ord.sale_order_product  }}</td>
                             <td>{{ ord.sale_order_quantity }}</td>
                             <td>{{ ord.sale_order_total_price  }}</td>
                             <td>{{ ord.status  }}</td>
                            <td>
                                <!-- <i class="far fa-eye"></i> -->
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        
    </div>
</section>

{% endblock %}