{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Dashboard</title>
</head>
<body>
    
    <div class="navbar">
        <nav>
            <label class="logo">ZoldyckCRM</label>
          <ul>
              <li><a  href="#">HOME</a></li>
              <li><a  href="#">PRODUCTS</a></li>
              <li><a  href="#">CUSTOMERS</a></li>
              <li><a  href="#">ORDERS</a></li>
          </ul>  
        </nav>
    </div>

</body>
</html>