{% extends 'accounts/layout.html'%}


{% block content %}

<style>
    label{
        font-weight: bold;
        margin-left: 27px;
    }

    select{
    display: inline-block;
    border-radius: 5px;
    }

    select:focus,
    select:valid{
        border-color: #9b59b6;
    }

</style>


<section>
    <div class="main">

        <div class="product-tables">
            <form action="" method="get">
                {{filter.form}}
                <div class="button">
                    <button type="submit" class="crt-ser"><a href="">Search</a></button>
                </div>
            </form>

            <div class="latest-products">

                <table class="cus-prod-customers">
                    <thead>
                        <tr>
                            <th>REF No.</th>
                            <th>Customer</th>
                            <!-- <th>Date Ordered</th> -->
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in orders %}
                        <tr>
                             <td>{{ ord.sale_order_referencenumber  }}</td>
                             <td>{{ ord.sale_order_customer }}</td>
                             <!-- <td>{{ ord.sale_order_date }}</td> -->
                             <td>{{ ord.sale_order_product  }}</td>
                             <td>{{ ord.sale_order_quantity }}</td>
                             <td>{{ ord.sale_order_total_price  }}</td>
                             <td>{{ ord.status  }}</td>
                            <td>
                                <a href="{% url 'update_order' ord.id %}"><i class="far fa-edit"></i></a>
                                <a href="{% url 'delete_order' ord.id %}"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            

        </div>
        
    </div>
</section>

{% endblock %}