{% extends 'accounts/layout.html'%}


{% block content %}

<section>
    <div class="main">

        <div class="product-tables">
            <div class="button">
                <button class="crt-ser"><a href="">Search</a></button>
            </div>
            <div class="latest-products">

                <table class="cus-prod-customers">
                    <thead>
                        <tr>
                            <th>REF No.</th>
                            <th>Customer</th>
                            <!-- <th>Date Ordered</th> -->
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in orders %}
                        <tr>
                             <td>{{ ord.sale_order_referencenumber  }}</td>
                             <td>{{ ord.sale_order_customer }}</td>
                             <!-- <td>{{ ord.sale_order_date }}</td> -->
                             <td>{{ ord.sale_order_product  }}</td>
                             <td>{{ ord.sale_order_quantity }}</td>
                             <td>{{ ord.sale_order_total_price  }}</td>
                             <td>{{ ord.status  }}</td>
                            <td>
                                <!-- <i class="far fa-eye"></i> -->
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            

        </div>
        
    </div>
</section>

{% endblock %}