{% extends 'accounts/layout.html'%}


{% block content %}
    <div class="product-tables">
        <div class="button">
            <button class="crt-prod"><a href="{% url 'create_product' %}">CREATE PRODUCT</a></button>
        </div>
        <div class="latest-products">  
            <div class="heading">
                <h2>Products</h2>
                <a href="#" class="btn">View All</a>
            </div>
            <table class="products">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Tag</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_price }}</td>
                        <td>{{ product.product_category }}</td>
                        <td>{{ product.product_description }}</td>
                        {% for tag in product.product_tag.all %}
                        <td>{{ tag }}</td>
                        {% endfor %}
                        <td>
                            <!-- <i class="far fa-eye"></i> -->
                            <a href="{% url 'update_product' product.id %}"><i class="far fa-edit"></i></a>
                            <a href="{% url 'delete_product' product.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}