{% extends 'accounts/layout.html'%}


{% block content %}
<style>
    [contenteditable] {
      outline: 0px solid transparent;
    }
</style>

<form method="POST" action="{% url 'update_customer' customer.id %}" name="update_customer">
    
<section>
    <div class="main">
        <div class="cus-cards12">
            
            <div class="cus-card12">
                <div class="card-content">
                    <h3>Customer:</h3>
                    <!-- <button class="bnx"><a href="{% url 'update_customer' customer.id %}">Confirm Changes</a></button> -->
                    <button class="bnxx"><input class="a" type="submit" value="Confirm Changes"></button>
                    <button class="bnx"><a href="">Delete Customer</a></button>
                </div>
            </div>

            <div class="cus-card12">
                <div class="card-content">
                    <h3>Contact Information:</h3>
                    {% csrf_token %}
                    <!-- <p name="customer_name">Name:  <span contentEditable="true" name="customer_name" spellcheck="false" style="border:0px;font-weight:bolder;text-align: right;color:#C02F1D">{{ customer.customer_name }}</span></p>
                    <p>Email:  <span contentEditable="true" name="customer_email" style="font-weight:bolder;text-align: right;color:#C02F1D">{{ customer.customer_email }}</span></p>
                    <p>Phone:  <span contentEditable="true" name="customer_mobile" style="font-weight:bolder;text-align: right;color:#C02F1D">{{ customer.customer_mobile }}</span></p> -->
                
                    <p>Name:  <input type="text" name="customer_names" style="font-weight:bolder;color:#C02F1D" value="{{ customer.customer_name }}" ></p>

                    <p>Email:  <input type="text" name="customer_emails" style="font-weight:bolder;color:#C02F1D" value="{{ customer.customer_email }}" ></p>

                    
                    <p>Phone: <input type="text" name="customer_mobiles" style="font-weight:bolder;color:#C02F1D" value="{{ customer.customer_mobile }}" ></p>


                </div>
            </div>

            <div class="cus-card122">
                <div class="card-content">
                    <!-- <h3>Total Orders:</h3>
                    <h3>Total Orders:</h3> -->
                    <h3>Total Orders:</h3>
                    <h1>{{order_count}}</h3>
                </div>
            </div>
        </div>


        <div class="cus-prod-tables">
            <div class="button">
                <button class="crt-ser"><a href="">Search</a></button>
            </div>
            <div class="latest-cus-prod">

                <table class="cus-prod-customers">
                    <thead>
                        <tr>
                            <th>REF No.</th>
                            <th>Customer</th>
                            <!-- <th>Date Ordered</th> -->
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in orders %}
                        <tr>
                             <td>{{ ord.sale_order_referencenumber  }}</td>
                             <td>{{ ord.sale_order_customer }}</td>
                             <!-- <td>{{ ord.sale_order_date }}</td> -->
                             <td>{{ ord.sale_order_product  }}</td>
                             <td>{{ ord.sale_order_quantity }}</td>
                             <td>{{ ord.sale_order_total_price  }}</td>
                             <td>{{ ord.status  }}</td>
                            <td>
                                <!-- <i class="far fa-eye"></i> -->
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            
        </form>
        </div>
        
    </div>
</section>

{% endblock %}