{% extends 'accounts/layout.html'%}
{% load static %}

{% block content %}

<style>
    /* ACCOUNT PAGE STYLES */

.cards-acc{
    display: grid;
    grid-template-columns: 500px 500px;
}

.acc-card1{
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: grid;
    background: #34568B;
    color: #ffff;
    height: 50vh;
}


.acc-card2{
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: grid;
    background: #009B77;
    color: #ffff;
    width: 920px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.bck-home{
    width: 100%;
    padding:8px;
    background-color: #4CAF50;
    font-size: 20px;
    color: #ffff;
    font-weight: bolder;
}

.acc-card1 span{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}

.fa-user{
    padding: 20px;
    margin-top: 10px;
    color: #ffff;
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 8rem;
}

.acc-sub{
    border-radius: 5px;
    padding: 5px;
    color: black;
    background: #55B4B0;
    font-weight: bolder;
    font-size: 1.2rem;
}

button:hover{
    background: linear-gradient(45deg,#47cebe,#2f80ed);
    color: #ffff;
    cursor: pointer;
}

.acc-card2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr 1fr 2fr; */
    gap: 30px 20px;
}

.user-loc{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;  
}



/* ACCOUNT PAGE STYLE ENDS */
</style>


<form method="POST" action="#" name="update_customer">
    {% csrf_token %}
    <div class="main-contane">
        <div class="acc-cont">

            <div class="cards-acc">

                <div class="acc-card1">
                    <a href=""><button class="bck-home">Back to Home</button></a>
                    <span>ACCOUNT SETTINGS</span>
                    <i class="fa fa-user" aria-hidden="true"></i>

                    <img src="{{user.customer_pic.url}}" style="width:44px;" alt="">

                </div>
 
                <div class="acc-card2">
                    <h2 style="margin-bottom:4px;text-align: center;border-bottom: 2px solid blanchedalmond;">EDIT USER PROFILE</h2>
                    <div class="user-names">
                        <label for="customer_name">Name</label>
                        <input name="customer_name" value="{{ user.customer_name }}" type="text">
                    </div>

                    <div class="user-email">
                        <label for="email">Email</label>
                        <input name="email" type="email" value="{{ user.customer_email }}" >
                    </div>

                    <div class="user-number">
                        <label for="number">Phone Number</label>
                        <input name="number" type="number" value="{{ user.customer_mobile }}">
                    </div>


                    <div class="user-address">
                        <label for="address">Address</label>
                        <input name="address" type="text" value="{{ user.address }}">
                    </div>

                    <div class="user-loc">
                        <div>
                        <label for="acc-city">City</label>
                        <input name="acc-city" type="text" value="{{ user.city }}">
                        </div>

                        <div>
                        <label for="acc-state">State</label>
                        <input name="acc-state" type="text" value="{{ user.state }}">
                        </div>

                        <div>
                        <label for="acc-zip">Zip</label>
                        <input name="acc-zip" type="text" value="{{ user.zipcode }}">
                        </div>

                        <div>
                        <label for="acc-country">Country</label>
                        <input name="acc-country" type="text" value="{{ user.country }}">
                        </div>
                    </div>

                    <div class="acc-pwd">
                        <label for="acc-password">Password</label>
                        <input type="password" value="{{ user.password }}">
                    </div>


                    <button class="acc-sub" type="submit">SUBMIT</button>
                    
                </div>  


            </div>

        </div>
        
    </div>

</form>
{% endblock %}